$Gray:#444445;

@mixin margenes ($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron{
    margin-top: 50px;
    background-color: $Gray;
    @include margenes(50px,0px)
  }
 
 footer {
     padding: 10px 10px 0 10px;
     background-color: rgb(216, 203, 203);
     @include margenes(10px,0px)
 }
 
 .card-products {
     flex: 1 150px;
     padding: 2px 5px 2px 5px;
     @include margenes(10px,0px)
 }
 
 .btn-reserva {
     width: 100;
     border-radius: 0px;
 }
 
 .footer-address-icon{
     padding-right: 10px;
 }
 
   .bxslider1 {
     max-width: 1200px;
     max-height: 400px;
   }
   
   .bxslider1 img {
     width: 100%;
     max-width: 1200px;
     max-height: 400px;
     margin: 0 auto;
   }
 
   .tab-content {
     padding-top: 10px;
   }