.jumbotron {
  margin-top: 50px;
  background-color: #444445;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #d8cbcb;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-products {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.bxslider1 {
  max-width: 1200px;
  max-height: 400px; }

.bxslider1 img {
  width: 100%;
  max-width: 1200px;
  max-height: 400px;
  margin: 0 auto; }

.tab-content {
  padding-top: 10px; }
